.*
!.gitattributes
!.github
!.gitignore
!.sops.yaml
!.trivyignore.yaml
!.yamllint.yaml

# Ansible
!.ansible-lint.yaml

# k8s
charts/
Secret.*.yaml
values.default.yaml
values.*.default.yaml
# WIP
joplin
nextcloud
qbittorrent
radarr

# Terraform
secrets.auto.tfvars
tfplan

# Talos
talos/temp.json
