.*
!.envrc
!.gitattributes
!.github
!.gitignore
!.sops.yaml
!.trivyignore.yaml
!.yamllint.yaml
!.yamllint.rules.yaml
!.yamlignore

# Ansible
!.ansible-lint.yaml

# k8s
charts/
Secret.*.yaml
values.default.yaml
values.*.default.yaml
# WIP
joplin
nextcloud
qbittorrent
radarr

# OpenTofu
!.terraform.lock.hcl
*.backup
tfplan
tofu/dns/zonefiles/

# topf
talos/clusters/*/output/
