.vscode
.env
.*.env

# Terraform
.terraform/
# .terraform.lock.hcl
.terraform.tfstate.lock.info
terraform/.bak
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
tfplan

# k8s
charts/
Secret.*.yaml
!Secret.*.enc.yaml
**/thelounge/data

# Talos
talos/temp.json
*.sops.yaml
