# https://joshrnoll.com/installing-longhorn-on-talos-with-helm/
# https://www.johanneskueber.com/posts/longhorn_uservolumes_talos/
# https://github.com/longhorn/charts/blob/v1.10.x/charts/longhorn/values.yaml
---
# values.yaml
defaultSettings:
  defaultReplicaCount: 2  # Default is 3. Will fail on single node clusters
  # storageReservedPercentageForDefaultDisk: 1 # longhorn has its own disk - it can use all available space
  # defaultDataPath: "/var/lib/longhorn"
  defaultDataPath: /var/mnt/longhorn-data
  # defaultDataPath: /dev/sdb
  # v2DataEngine: true
  # offlineReplicaRebuilding: true
  allowCollectingLonghornUsageMetrics: false
  upgradeChecker: false

persistence:
  reclaimPolicy: Retain
  defaultClassReplicaCount: 2
  # dataEngine: v2

# https://github.com/longhorn/longhorn/issues/8707
preUpgradeChecker:
  jobEnabled: false
  # upgradeVersionCheck: false

defaultBackupStore:
  backupTarget: nfs://192.168.6.20:/mnt/nfs/longhorn-backup?nfsOptions=soft,timeo=330,retrans=3
  pollInterval: 5m0s

# https://www.reddit.com/r/ArgoCD/comments/1pqnajg/comment/nuxi5uj
longhorn:
  defaultSettings:
    defaultReplicaCount: 2
    defaultDataPath: /var/mnt/longhorn-data
    allowCollectingLonghornUsageMetrics: false
    upgradeChecker: false
  persistence:
    reclaimPolicy: Retain
    defaultClassReplicaCount: 2
  preUpgradeChecker:
    jobEnabled: false
