---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata:
  name: utils
  namespace: argocd
spec:
  sourceRepos:
    - https://github.com/sebastka/homelab.git
  destinations:
    - namespace: argocd
      server: '*'
    - namespace: paperless
      server: '*'
  clusterResourceWhitelist:
    - group: '*'
      kind: '*'
