---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      fr.karlsen: app-management
      app.kubernetes.io/managed-by: argocd

resources:
  - AppProject.yaml
  - ApplicationSet.yaml
