---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - Namespace.yaml
  - SealedSecret.yaml
  - Issuer.yaml
  - Certificate.karlsen-fr.yaml
  - Certificate.talmox-hera-home-karlsen-fr.yaml
  - Issuer.yaml
  - Gateway.http.yaml
  - Gateway.internal.yaml
  - Gateway.private.yaml
  - Gateway.public.yaml
  - HTTPRoute.https-upgrade.yaml
