---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app: whoami

resources:
  - Namespace.yaml
  - Deployment.yaml
  - Service.yaml
  - HTTPRoute.yaml
