---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      fr.karlsen: infrastructure
      app.kubernetes.io/managed-by: argocd

resources:
  - AppProject.yaml
  - ApplicationSet.yaml
