---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      app.kubernetes.io/name: paperless

generators:
  - ./ksops.paperless-secrets-generator.yaml

configMapGenerator:
  - name: paperless-config
    namespace: paperless
    envs:
      - .paperless.env

resources:
  - Namespace.yaml
  - ./Secret.paperless-secrets.enc.yaml
  - PersistentVolumeClaim.yaml
  - Deployment.yaml
  - Service.yaml
  - HTTPRoute.yaml
