---

namespace: sealed-secrets
# keyrenewperiod: "8766h"  # ~ 1 year
keyrenewperiod: "0"  # disable auto key renewal

resources:
  limits:
    cpu: 100m
    memory: 64Mi
  requests:
    cpu: 10m
    memory: 32Mi
