---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: longhorn-portainer-pvc
  namespace: portainer
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn
  volumeMode: Filesystem
  volumeName: pvc-d81fd468-a41f-44db-a932-98c97bb5d043
