# https://artifacthub.io/packages/helm/portainer/portainer
---

service:
  type: ClusterIP

tls:
  force: false

image:
  tag: latest

ingress:
  enabled: false

persistence:
  enabled: true
  size: "2Gi"
  storageClass: longhorn
